
.sliderHome{

    height: calc(100dvh - 75px);
    position: relative;

    .item{
        width: calc(100% - 200px) !important;
        height: calc(100vh);
        display: flex;
        align-items: center;
        padding: 0px 100px;
        background-position: center;
        background-size: cover;
        position: relative;

        @include devices(tablet){
            width: calc(100% - 100px) !important;
            padding: 0px 50px;
            align-items: flex-end;
        }

        @include devices(mobile){
            width: calc(100% - 20px) !important;
            padding: 0px 30px;
            height: calc(100vh - 50px);
            padding-bottom: 15px;
            max-width: calc(100% - 60px);
        }

        
        &::after{
            content: "";
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $color-negro-transparente;
            z-index: -1;
        }

        .content{

            padding-bottom: 62px;

            @include devices(tablet){
                padding-bottom: 160px;
            }

            @include devices(mobile){
                padding-bottom: 120px;
            }

        }

        img{
            position: absolute;
            z-index: -1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h2{
            color: $color_white;
            font-size: $font-size-text-slider;
            font-family: $font_principal;
            max-width: 800px;
            margin-bottom: 30px;
            font-weight: 800;
            line-height: 60px;

            @include devices(tablet){
                font-size: $font_size_menu_tablet;
            }

            @include devices(mobile){
                font-size: $font-size-mobile-slider;
                line-height: 30px;
            }
        }

        a{
            background-color: $color_green;
            padding: 8px 20px;
            border-radius: 30px;
            text-decoration: none;
            color: $color_white;
            font-family: $font_principal;
            font-weight: bold;
            font-size: $font-size-slider;
            transition: .2s ease;

            &:hover{
                background-color: $color_principal;
            }

            @include devices(mobile){
                font-size: $font-size-mobile-link-slider;

                &:hover{
                    background-color: $color_green;
                }
    
            }
        }

    }

    .swiper-pagination{
        position: absolute;
        width: 100%;
        top: 80%;
        z-index: 1;
        display: flex;
        justify-content: center;
        column-gap: 10px;

        @include devices(tablet){
            bottom: 100px;
        }

        @include devices(mobile){
            bottom: 70px;
        }

        span{
            width: 13px;
            height: 13px;
            background-color: $color-background-body;
            border-radius: 50%;
            cursor: pointer;
        }

        span.swiper-pagination-bullet-active{
            background-color: $color_green;
            cursor: no-drop;
        }
    }

}