.about-us{

    background-color: $color_principal;

}

.content_history_vision{

    // min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 8dvh;

    @include devices(tablet){
        margin-bottom: 0px;
    }


}