.about-us{

    .history{

        max-width: 1400px;
        width: 85vw;
        margin: 0px auto 20px auto;
        padding: 0px 80px;
        font-family: $font_principal;

        @include devices(laptop){
            max-width: 1100px;
            width: 70vw;
            padding: 50px;
        }

        @include devices(tablet){
            margin: 0px auto 0px auto;
        }

        @include devices(mobile){
            width: 100%;
            margin: 0px 10px;
            padding: 10px 20px 40px 20px;
            max-width: calc(100% - 60px);
            // margin: 0px auto 0px auto;
        }

        img{ 
            width: 60px;
            height: auto;
            margin-bottom: 15px;

            @include devices(mobile){
                width: 40px;
            }

        }

        h2{
            font-size: $font-size-about-title-principal;
            color: $color_green;
            margin-bottom: 15px;

            @include devices(mobile){
                font-size: $font-size-mobile-slider;
            }
        }

        .content{
            color: $color_white;
            font-size: $font-size-slider;

            @include devices(mobile){
                font-size: $font-size-about-parrafo-mobile;
            }

            p{
                margin-bottom: 15px;
            }
        }

    }

}