.about-us{
    .who {

        display: flex;
        justify-content: center;
        align-items: center;

        @include devices(tablet){
            min-height: auto !important;
            padding-top: 60px;
        }

        @include devices(mobile){
            padding-top: 50px;
            padding-bottom: 35px;
        }

        .item{
            max-width: 1400px;
            width: 85vw;
            background-color: $color_green;
            margin: auto;
            padding: 25vh 80px;
            border-radius: 30px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 30% 70%;
            color: $color_white;
            font-family: $font_principal;

            @include devices(laptop){
                max-width: 1100px;
                width: 70vw;
                display: grid;
                grid-template-columns: 40% 60%;
                padding: 50px;
            }
    
            @include devices(tablet){
                display: flex;
                flex-flow: column;
                row-gap: 30px;
            }
    
            @include devices(mobile){
                padding: 30px 20px;
                width: 100%;
                margin: 0px 10px;
                max-width: calc(100% - 20px);
                row-gap: 15px;
            }

            h2{
                font-size: $font-size-about-title;
                font-weight: 350;
                margin-bottom: 0px;

                @include devices(mobile){
                    font-size: $font-size-text-tablet;
                }
            }

            h1{
                font-size: $font-size-about-title-principal;

                @include devices(mobile){
                    font-size: $font-size-mobile-slider;
                }
            }

            p{
                font-size: $font-size-slider;
                font-weight: 300;
                margin-bottom: 20px;

                &:last-of-type{
                    margin-bottom: 0px;
                }

                @include devices(mobile){
                    font-size: $font-size-about-parrafo-mobile;
                }
            }

        }

    }
}