.location_section{

    background-color: $color-filter-mobile;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 75px;
    left: 0px;
    width: 100%;
    height: calc(100% - 75px);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .caledar_select_day{
        max-width: 1100px;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 50px;
        display: flex;
        align-items: center;

        &::-webkit-scrollbar{
            display: none;
        }

        @include devices(laptop){
            max-width: calc(850px);
        }

        @include devices(laptop){
            max-width: calc(100% - 60px);
        }

        .content_background{
            background-color: $color_white;
            display: grid;
            grid-template-columns: 50% calc(25% - 15px) calc(25% - 15px);
            grid-gap: 15px;
            border-radius: 20px;
            padding: 20px;

            @include devices(laptop){
                grid-template-columns: 33.33% calc(33.33% - 15px) calc(33.33% - 15px);
            }

            @include devices(mobile){
                grid-template-columns: 100%;
            }
            

            .item{

                span{
                    display: block;
                    margin-bottom: 10px;
                    font-size: $font-size-text-tablet;
                    color: $color-location;
                    font-family: $font_principal;
                    font-weight: lighter;

                    @include devices(mobile){
                        font-size: $font-size-about-parrafo;
                        margin-bottom: 5px;
                    }

                }

                div{

                    display: flex;
                    align-items: center;
                    background-color: $background-location;
                    padding: 15px 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    @include devices(tablet){
                        padding: 10px 15px;
                    }


                    .icon{

                        width: 25px;
                        height: 25px;

                        @include devices(laptop){
                            width: 20px;
                            height: 20px;
                        }
        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            user-select: none;
                            pointer-events: none;    
                        }
                    }

                    h5{
                        font-size: $font_size_menu;
                        margin-left: 5px;
                        font-family: $font_principal;
                        font-weight: 400;
                        user-select: none;
                        pointer-events: none;

                        @include devices(tablet){
                            font-size: $font-size-text-tablet;
                        }

                        @include devices(mobile){
                            font-size: $font-size-about-parrafo;
                        }

                    }
                }


            }

            .date{
                
                div{

                    h5{
                        margin-left: 10px;
                    }

                }

            }


        }

        .calendar{
            display: grid;
            grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
            margin-top: 15px;
            grid-gap: 15px;

            @include devices(laptop){
                grid-template-columns: calc(35% - 7.5px) calc(65% - 7.5px);
            }


            @include devices(tablet){
                grid-template-columns: 100%;
            }

            @include devices(mobile){
                padding-bottom: 50px;
            }

            .content{

                font-family: $font_principal;
                font-weight: 400;
                font-size: $font-size-slider;
                margin-top: 30px;

                @include devices(tablet){
                    font-size: $font-size-about-parrafo;
                }


                @include devices(tablet){
                    margin-top: 0px;
                }

                p{
                    margin-bottom: 30px;

                    @include devices(tablet){
                        margin-bottom: 15px;
                    }

                }

                .bottoms{
                    .close{
                        margin-left: 20px;
                    }
                }

                button{
                    padding: 10px 25px;
                    border-radius: 25px;
                    border: none;
                    cursor: pointer;
                    background-color: $color-green-title;
                    color: $color_white;
                    font-family: $font_principal;
                    font-weight: bold;
                    font-size: $font-size-about-parrafo;
                    transform: scale(1);
                    transition: .3s ease;
                    
                    &:hover{
                        background-color: $color_principal;
                    }
                    
                    &:active{
                        transform: scale(0.95);
                    }
                }

                .contact_message{
                    background-color: $color_white;
                    margin-top: 15px;
                    border-radius: 20px;
                    padding: 20px;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    column-gap: 10px;
                    opacity: 1;
                    transition: .2s ease;

                    @include keyframes(open_contact){
                        0%{
                            opacity: 0;
                        }
                        100%{
                          opacity: 1;
                        }
                    }
                    @include animate(open_contact, .2s, ease, 1);


                    p{
                        margin: 0px;
                    }

                    button{
                        text-decoration: none;
                        padding: 5px 10px;
                        background-color: $background-location;
                        border-radius: 10px;
                        color: $color_principal;
                        transition: .2s ease;
                        font-size: $font-size-slider;

                        &:hover{
                            color: $background-location;
                            background-color: $color_principal;
                        }

                        @include devices(tablet){
                            font-size: $font-size-about-parrafo;
                        }

                    }

                }


                .contact_message.remove{
                    opacity: 0;
                }

            }

            .calendario{
                background-color: $color_white;
                padding: 15px;
                border-radius: 20px;
                transition: .5s ease;

                @include devices(tablet){
                    grid-area: 1;
                }

                .react-datepicker{
                    display: flex;
                    border: none;
                    transition: .5s ease;

                    @include devices(mobile){
                        flex-flow: column;
                    }

                }

                .react-datepicker__month-container{
                    width: 50%;

                    @include devices(mobile){
                        width: 100%;
                    }

                }

                .react-datepicker__navigation-icon--previous,
                .react-datepicker__navigation-icon--next{
                    &::before{
                        border-color: $color_arrow_calendar;
                        border-width: 2px 2px 0 0;
                        transition: .5s ease;
                        
                    }
                }

                .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
                    margin-bottom: 15px;
                    font-family: $font_principal;
                    font-weight: 700;
                    font-size: $font-size-text-tablet;
                    transition: .5s ease;

                    @include devices(tablet){
                        font-size: $font-size-about-parrafo-mobile;
                    }

                }

                .react-datepicker__day-name{
                    font-family: $font_principal;
                    font-weight: 500;
                    font-size: $font-size-about-parrafo;

                    @include devices(tablet){
                        font-size: $font-size-about-parrafo-mobile;
                    }

                }

                .react-datepicker__header{
                    background-color: transparent;
                    border-bottom: none;
                }

                .react-datepicker__day{
                    color: $color_arrow_calendar;
                    font-family: $font_principal;
                    font-weight: 500;
                    opacity: 1;
                    transition: .2s ease;
                }

                .react-datepicker__day--disabled, 
                .react-datepicker__month-text--disabled, 
                .react-datepicker__quarter-text--disabled, 
                .react-datepicker__year-text--disabled,
                .react-datepicker__day--excluded{
                    opacity: 0.2;
                    user-select: none;
                }


                .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), 
                .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), 
                .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), 
                .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
                    background-color: $color-green-title;
                    color: $color_white;
                    transition: .2s ease;
                }


                .react-datepicker__day--selected, 
                .react-datepicker__day--in-selecting-range, 
                .react-datepicker__day--in-range, 
                .react-datepicker__month-text--selected, 
                .react-datepicker__month-text--in-selecting-range, 
                .react-datepicker__month-text--in-range, 
                .react-datepicker__quarter-text--selected, 
                .react-datepicker__quarter-text--in-selecting-range, 
                .react-datepicker__quarter-text--in-range, 
                .react-datepicker__year-text--selected, 
                .react-datepicker__year-text--in-selecting-range, 
                .react-datepicker__year-text--in-rangem,
                .react-datepicker__day--keyboard-selected, 
                .react-datepicker__month-text--keyboard-selected, 
                .react-datepicker__quarter-text--keyboard-selected, 
                .react-datepicker__year-text--keyboard-selected{
                    background-color: $color_green;
                    color: $color_white;
                    transition: .2s ease;
                }


                .react-datepicker__day--excluded{
                    background-color: transparent;
                    color: $color_principal;
                }

            }

            .calendario.active{

                background-color: $color-comments-background;
                transition: .5s ease;

                .react-datepicker{
                    background-color: $color-comments-background;
                    transition: .5s ease;
                }


            }

        }     
        
        .content{
            @include devices(mobile){
                height: 100%;
            }
        }

    }

}


.location_section.active{

    display: flex;
    opacity: 1;
    transition: .3 ease;

    @include keyframes(view){
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @include animate(view, .3s, ease, 1);

}


.location_section.active.remove{

    display: flex;
    opacity: 0;

    @include keyframes(delete){
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @include animate(delete, .3s, ease, 1);

}