// Import Font

@font-face {
    font-family: bricolage;
    src: url(../assets/fonts/BricolageGrotesque.ttf);
}

// Fonts
$font_principal: bricolage;

// Size
$font_size_menu: 1.3rem; 
$font_size_menu_tablet: 3rem; 
$font-size-slider: 1.2rem;
$font-size-text-slider: 4rem;
$font-size-mobile-slider: 2rem;
$font-size-mobile-link-slider: 1rem;
$font-size-text-tablet: 1.1rem;
$font-size-title-mobile: 2.5rem;
$font-size-about-title: 1.5rem;
$font-size-about-title-principal: 3.5rem;
$font-size-about-parrafo: 1rem;
$font-size-about-parrafo-mobile: 0.95rem;
$font-size-about-title-subtitle: 1.7rem;
$font-size-about-caracteristicas_mobiles: 0.8rem;

// Colors
$color_menu: #A6A6A6;
$color_white: #FFFFFF;
$color_white_transparent: #ffffffc2;
$color_principal: #212121;
$color_hover_menu: #272727;
$color_green:#37B34A;
$color-transparent: rgba(255, 255, 255, 0); 
$color-lineas-menu: #DCDCDC;
$color_green_dark: #237530;
$color-negro-transparente: rgba(0, 0, 0, 0.24);
$color-green-title: #178C4F;
$color-border: #BBBBBB;
$color-filter-mobile: rgba(255, 255, 255, 0.445);
$color-casa: #DDD;
$color-black-transparent: rgb(0 0 0 / 73%);
$color-background-body: #EBEBEB;
$color-content-rental: #000000;
$color-comments-background: #E2E2E2;
$color-location: #B0B0B0;
$background-location: #EEE;
$color_arrow_calendar: #333;

// Mixins

@mixin devices($breakpoint) {

    @if $breakpoint == laptop {
        @media only screen and (max-width: 1400px) {
            @content; 
        }
    }

    @if $breakpoint == tablet {
        @media only screen and (max-width: 900px) {
            @content; 
        }
    }

    @if $breakpoint == mobile {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
}

// Animation

// Animation
@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}