*,
html,
body{
    margin: 0px;    
    padding: 0px;
    scroll-behavior: smooth;
}

@import './variables';
@import './components/header';
@import './components/footer';
@import './pages/home/slider';
@import './pages/home/cuidados';
@import './pages/home/managment';
@import './pages/about/about';
@import './pages/about/who';
@import './pages/about/history';
@import './pages/about/vision';
@import './pages/about/valores';